<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>blog</display-name>
	
	<servlet>
		<servlet-name>spring-context</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring-context</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Jersey Web Services</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>fr.formation.blog.presentation.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey Web Services</servlet-name>
		<url-pattern>/webservices/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Mon filtre ForceEncoding</filter-name>
		<filter-class>fr.formation.blog.presentation.filter.ForceEncodingFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Mon filtre ForceEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<resource-ref>
		<res-ref-name>jdbc/formation</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All pages</web-resource-name>
			<url-pattern>*.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Author</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>Author</role-name>
	</security-role>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_error.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>





